In [1]:
import pandas as pd

import sqlalchemy
sql_obj = sqlalchemy.create_engine('postgresql://krh:krh@123@localhost:5432/krh')

In [2]:
df = pd.read_sql_table('tatamotor_1min', sql_obj)
df

                     date    open    high     low   close   volume
0     2021-02-02 09:15:00  292.50  295.75  290.60  295.00  12582.0
1     2021-02-02 09:16:00  295.00  295.00  294.00  295.00  14346.0
2     2021-02-02 09:17:00  295.05  297.25  294.95  296.30   5332.0
3     2021-02-02 09:18:00  296.40  297.85  296.20  296.25   8023.0
4     2021-02-02 09:19:00  296.20  296.50  295.45  296.15   5361.0
...                   ...     ...     ...     ...     ...      ...
18745 2021-04-16 15:25:00  308.90  308.95  308.60  308.80   9272.0
18746 2021-04-16 15:26:00  308.90  309.05  308.55  308.65   6232.0
18747 2021-04-16 15:27:00  308.65  308.75  308.50  308.55   6204.0
18748 2021-04-16 15:28:00  308.75  308.80  308.55  308.65  12280.0
18749 2021-04-16 15:29:00  308.55  308.75  308.50  308.70   6291.0

[18750 rows x 6 columns]