In [1]:
https://www.youtube.com/watch?v=AqKe-r8bw74
import pandas as pd

import sqlalchemy
sql_obj = sqlalchemy.create_engine('postgresql://krh:krh@123@localhost:5432/krh')

In [2]:
df = pd.read_sql_table('tatamotor_1min', sql_obj, parse_dates={'date': {'format': '%Y-%m-%d %H:%M:%S'}})
df

                     date    open    high     low   close   volume
0     2021-02-02 09:15:00  292.50  295.75  290.60  295.00  12582.0
1     2021-02-02 09:16:00  295.00  295.00  294.00  295.00  14346.0
2     2021-02-02 09:17:00  295.05  297.25  294.95  296.30   5332.0
3     2021-02-02 09:18:00  296.40  297.85  296.20  296.25   8023.0
4     2021-02-02 09:19:00  296.20  296.50  295.45  296.15   5361.0
...                   ...     ...     ...     ...     ...      ...
18745 2021-04-16 15:25:00  308.90  308.95  308.60  308.80   9272.0
18746 2021-04-16 15:26:00  308.90  309.05  308.55  308.65   6232.0
18747 2021-04-16 15:27:00  308.65  308.75  308.50  308.55   6204.0
18748 2021-04-16 15:28:00  308.75  308.80  308.55  308.65  12280.0
18749 2021-04-16 15:29:00  308.55  308.75  308.50  308.70   6291.0

[18750 rows x 6 columns]

In [25]:
import backtrader as bt

class ReversalAction(bt.Strategy):
    

    def log(self,txt, close, dt=None):
#         print(txt, close)
        pass
    
    def __init__(self):
        
        #Keep a reference to the "close" line in the data[0] dataseries
        self.dataclose = self.datas[0].close
        self.x=self.data

    def next(self):
        self.log("Close:",self.datas[0].close[0] )
        
def value_extracter(bt_object):
    return bt_object.x


#Creating Cerebro Obect
cerebro=bt.Cerebro()

# Add data to cerebro
data=bt.feeds.PandasData(dataname=df,
                        datetime=0)
cerebro.adddata(data)

# Add stratedgy to Cerebro 
cerebro.addstrategy(ReversalAction)

#RUN Cerebro Engine
cerebro.run()

# PLot
# cerebro.plot(style='bar')

In [40]:
y=cerebro.datas[0].datetime
y

In [43]:
y